*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif, 'Montserrat';
}
body{
    width: 100%;
    min-width: 1000px;
    background: rebeccapurple;
    align-items: flex-start;
}
.body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif, 'Montserrat';
}
a {
    text-decoration: none;
    color: white;
}
select
{
    padding: 8px;
    border-radius: 5px;
    padding-right: 45px;
    font-size: 20px;
    border-radius: 5px;
}
input
{
    font-size: 20px;
    margin: 5px;
    width: 280px;
    padding: 5px;
    border-radius: 5px;
}
button
{
    font-size: 26px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    background-color: rgb(10, 241, 164);
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    /* box-shadow: 0px 10px 18px 10px #888888; */
}
body
{
    background-color: #e3edf7;
    font-size: 25px;
}
.headersection {
    width: 100vw;
}
.uppernavbar
{
    /* border: solid 1px black; */
    height: 100px;
    width: 100%;
    top :0;
    background-color: rgba(0, 0, 0, 0.638);
    color: rgb(10, 241, 164);
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 1px;
}
.logo_img
{
    width: 100px;
    justify-content: center;
    align-items: center;
}

.logo_img img
{    
    /* background-color: rgba(0, 0, 0, 0.171); */
    width: 175px;
    object-fit: fill;
    
}
.right-nav
{
    margin-right: 50px;
}

.right-nav ul
{
    display: flex;
    color: white;
}
.right-nav ul li 
{
    text-decoration: none;
    display: block;
    margin-left: 20px;
}
.right-nav .active
{
    color: rgb(10, 241, 164);
}
.report-sec-tab
{
    /* border: solid 1px #0b0e11; */
    background-color: rgba(0, 0, 0, 0.638);
    background-color: #539987;
    color: white;
}
.report-sec-tab button
{
    padding: 10px;
    background-color: transparent;
    border: none;
    border-right: solid 1px rgb(10, 241, 164);
    color: white;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 0;
}
.report-sec-tab .active
{
    background-color: rgb(10, 241, 164);
    color: #000;
    box-shadow: 0px 5px 20px 10px #888888;
    margin-left: 2px;
}
.balanceview
{
    justify-content: right;
    text-align: right;
    padding-right: 20px;
}
.summary-form
{
    margin : 20px;
    border: solid 1px rgba(0, 0, 0, 0.357);
    border-radius: 10px;
}
.summary-form-upper
{
    display: flex;
    padding-top: 10px;
}
.summary-form-upper-left
{
    width: 50%;
    padding-left: 30px;
    align-items: flex-start;
    justify-content: flex-start;
}
.summary-form-upper input
{
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
}
.summary-form-upper button
{
    padding: 10px;
    color: #000;
    border: none;
    background-color: rgb(10, 241, 164);
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}
.reportdate
{
    justify-content: right;
    text-align: right;
    padding-right: 15px;
    font-size: 20px;
}
.summary-form-lower
{
    padding-left: 30px;
    padding-right: 15px;
}
.table
{
    width: 100%;
    margin-top: 10px;
    border-spacing:0;
    border-collapse:collapse;
    margin-bottom: 20px;
    border-radius: 2px;
}
.table thead
{
    background-color: rgba(0, 0, 0, 0.638);
    color: white;
    border: none;
}
.table thead td 
{
    font-size: 24px;
}
.table td {
    
    font-size: 20px;
    padding-left: 5px;
}
.table > tbody > tr:nth-of-type(even) {
    background-color: #d4d8da;
}
.today_tickets
{
    margin: 20px;
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, 0.357);
    border-radius: 10px;
}
.gamenum {
    margin: 20px;
}
.report-body
{
    margin: 20px;
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, 0.357);
    border-radius: 10px;
}
.weekly_gamnum
{
    margin-left: 20px;
}
.scanner_tickets
{
    width: 700px;
    padding: 20px;
}
.scanner_tickets .scannerfield {
    margin-top: 20px;
}
.scanner_tickets button{
    margin-top: 20px;
    align-self: flex-end;
    justify-self: flex-end;
}
.scanner_tickets .scannerbutton{
    display: flex;
    justify-content: flex-end;
}

.scanner_tickets .winner{
    color: green;
    font-weight: bold;
}

.scanner_tickets .draws
{
    display: flex;
    align-items: center;
}
.scanner_tickets .draws span {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    align-items: center;
    margin-left: 5px;
    font-size: 15px;
}
.scannerbutton button {
    margin-left: 20px;
}